<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset ="UTF-8">
        <meta name="viewport"
        content="width=device-width,
        initial-scale=1.0">
        <title>AI Grammar Checker</title>
    </head>
    <body>
        <h1>AI Grammar Checker</h1>
        <form method="POST">
            <textarea name="text" rows="10" cols="60"
            placeholder="Type your sentence here...">{{ text }}</textarea>
            <br><br>
            <button type="submit">Check Grammar</button>
            {% if result %}
    <h2>Result:</h2>
    <p>{{ result }}</p>
{% endif %}
        </form>
    </body>
</html>